<html>
    <head>
        <link 
            rel="stylesheet" 
            href="{{ url_for('static', filename='styles/style.css') }}"
        >
        {% if page_type == 'add' %}
            <title>Add</title>

        {% elif page_type == 'new' %}
            <title>Add {{ form_data['type'] }}</title>

        {% elif page_type == 'confirm' %}
            <title>Confirm {{ form_data['type'] }}</title>

        {% else %}
            <title>Success</title>
        {% endif %}
    </head>
    
    <body>
        <div class="header">
          <h1><a href="/">CCA Record Manager</a></h1>
        </div>
        
        <div class="text_box">
            <box_header>Add</box_header>
            <tagline>Please choose the item you want to add.</tagline>
        </div>
        
        {% if page_type == 'add' %}
            <form
                action="{{ form_meta['action'] }}"
                method="{{ form_meta['method'] }}"
            >
                <input
                    id='type'
                    type='hidden'
                    name='type'
                    value='Club'
                />
                <input type='submit' value='Add Club'>
            </form>

            <form
                action="{{ form_meta['action'] }}"
                method="{{ form_meta['method'] }}"
            >
                <input
                    id='type'
                    type='hidden'
                    name='type'
                    value='Activity'
                />
                <input type='submit' value='Add Activity'>
            </form>

        
        {% elif page_type == 'new' %}
            <h2>Add {{ form_data['type'] }}</h2>
            <form
                action="{{ form_meta['action'] }}"
                method="{{ form_meta['method'] }}"
            >    
                {% for key, value in form_data.items() %}
                    {% if key == 'type' %}
                        <input
                            id='{{ key }}'
                            type='hidden'
                            name='{{ key }}'
                            value='{{ value }}'
                        />
                    {% else %}
                        <label for='{{ key }}'>{{ key }}:</label>
                        <input
                            id='{{ key }}'
                            type='text'
                            name='{{ key }}'
                            value='{{ value }}'
                            required
                        /><br />
                    {% endif %}
                {% endfor %}
                
                <input type='submit' value='Submit'>
            </form>
        
            <a href='/add'>Return</a>

        {% elif page_type == 'confirm' %}
            <h2>Confirm Submission</h2>
            <table>
                {% for key, value in form_data.items() %}
                    {% if key != 'type' %}
                        <tr>
                            <th>{{ key }}:</th>
                            <th>{{ value }}</th>
                        </tr>
                    {% endif %}
                {% endfor %}
            </table>

            <form
                action="{{ form_meta['action'] }}"
                method="{{ form_meta['method'] }}"
            >               
                {% for key, value in form_data.items() %}
                    <input
                        id='{{ key }}'
                        type='hidden'
                        name='{{ key }}'
                        value='{{ value }}'
                    />
                {% endfor %}

                <input type='submit' value='Confirm'>
            </form>
        
            <form
                action='/add?edit'
                method='POST'
            >
                {% for key, value in form_data.items() %}
                    <input
                        id='{{ key }}'
                        type='hidden'
                        name='{{ key }}'
                        value='{{ value }}'
                    />
                {% endfor %}

                <input type='submit' value='Edit'>
            </form>

        {% else %}
            <h2>{{ name }} Successfully Added</h2>
            <a href='/add'>Add Another</a><br />
            <a href='/'>Return</a>
        {% endif %}
    </body>
</html>