<html>
<!-- Allow users to select a field and update it for a particular student -->
    <head>
       <title>Edit</title> 
    </head>
    <body>
        {% if page_type == 'edit' %}
            <h1>Edit</h1>
                <form
                    action="{{ form_meta['action'] }}"
                    method="{{ form_meta['method'] }}"
                >
                    <input
                        id='type'
                        type='hidden'
                        name='type'
                        value='Membership'
                    />
                    <input type='submit' value='Edit Membership'>
                </form>
    
                <form
                    action="{{ form_meta['action'] }}"
                    method="{{ form_meta['method'] }}"
                >
                    <input
                        id='type'
                        type='hidden'
                        name='type'
                        value='Participation'
                    />
                    <input type='submit' value='Edit Participation'>
                </form>
            
                <a href='/'>Return</a>

        {% elif page_type == 'search' %}        
        <h2>Search {{ form_data['type'] }}</h2>
            <form
                action="{{ form_meta['action'] }}"
                method="{{ form_meta['method'] }}"
            >
                {% for key, value in form_data.items() %}
                    {% if key == 'type' %}
                        <input
                            id='{{ key }}'
                            type='hidden'
                            name='{{ key }}'
                            value='{{ value }}'
                        />
                    {% else %}
                        <label for='{{ key }}'>{{ key }}:</label>
                        <input
                            id='{{ key }}'
                            type='text'
                            name='{{ key }}'
                            value='{{value}}'
                        />
                    {% endif %}
                {% endfor %}
                        
                <input type='submit' value='Search'>
            </form>
            <a href='/edit'>Return</a>

        {% elif page_type == 'result' %}
            <table>
                {% for key, value in form_data.items() %}
                    {% if key != 'type' %}
                        <tr>
                            <th>{{ key }}:</th>
                            <th>{{ value }}</th>
                        </tr>
                    {% endif %}
                {% endfor %}
            </table>

            <form
                action="{{ form_meta['action'] }}"
                method="{{ form_meta['method'] }}"
            >
                {% for key, value in form_data.items() %}
                    {% if key == 'type' %}
                        <input
                            id='{{ key }}'
                            type='hidden'
                            name='{{ key }}'
                            value='{{ value }}'
                        >
                    {% else %}
                        <label for='{{ key }}'>New {{ key }}:</label>
                        <input
                            id='{{ key }}'
                            type='text'
                            name='{{ key }}'
                            value='{{ value }}'
                        >
                    {% endif %}
                {% endfor %}
                
                <input type='submit' value='Edit'>
            </form>
                
            <form
                action='/edit?search'
                method='POST'
            >
                <input
                    id='type'
                    type='hidden'
                    name='type'
                    value="{{ form_data['type'] }}"
                />
                <input type='submit' value='Search Another'>
            </form>
        
            <a href='/edit'>Return</a>
                        
        {% elif page_type == 'confirm' %}
            <h2>Confirm Edit</h2>
                <table>
                    {% for key, value in form_data.items() %}
                        {% if key != 'type' %}
                            <tr>
                                <th>New {{ key }}:</th>
                                <th>{{ value }}</th>
                            </tr>
                        {% endif %}
                    {% endfor %}
                </table>
    
                <form
                    action="{{ form_meta['action'] }}"
                    method="{{ form_meta['method'] }}"
                >               
                    {% for key, value in form_data.items() %}
                        <input
                            id='{{ key }}'
                            type='hidden'
                            name='{{ key }}'
                            value='{{ value }}'
                        />
                    {% endfor %}
    
                    <input type='submit' value='Confirm'>
                </form>
       
                <form
                    action='/edit?result'
                    method='POST'
                >
                    {% for key, value in form_data.items() %}
                        <input
                            id='{{ key }}'
                            type='hidden'
                            name='{{ key }}'
                            value='{{ value }}'
                        />
                    {% endfor %}
    
                    <input type='submit' value='Return'>
                </form>

                <form id='edit_cancel'
                    action='/edit?search'
                    method='POST'
                >
                    <input
                        id='type'
                        type='hidden'
                        name='type'
                        value="{{ form_data['type'] }}"
                    />
                    <!-- <a href='/edit' 
                    onclick="document.getElementById('edit_cancel').submit()">
                    Cancel
                    </a>
                    For text buttons -->
                    <input type='submit' value='Cancel'>
                </form>
        

        {% else %}
            <h2>{{ name }} Successfully Added</h2>
            <a href='/edit'>Edit Another</a><br />
            <a href='/'>Return</a>
        
        {% endif %}
    </body>
</html>