<html>
<!-- Allow users to select a field and update it for a particular student -->
    <head>
        <link 
            rel="stylesheet" 
            href="{{ url_for('static', filename='styles/style.css') }}"
        >
        {% if page_type == 'edit' %}
            <title>Edit</title>

        {% elif page_type == 'search' %}
            <title>Search {{ form_data['type'] }}</title>

        {% elif page_type == 'error' %}
            <title>{{ form_data['type'] }} not found</title>
        
        {% elif page_type == 'result' %}
            <title>Result</title>

        {% elif page_type == 'confirm' %}
            <title>Confirm Edit</title>

        {% else %}
            <title>{{ name }} {{ type }} Successfully Edited</title>

        {% endif %}
    </head>
    <body>
        <div class="header">
          <h1><a href="/">CCA Record Manager</a></h1>
        </div>
        {% if page_type == 'edit' %}
            <div class="text_box">
                <box_header>Edit</box_header>
                <tagline>Please choose the item you want to edit</tagline>
            </div>
                <form
                    action="{{ form_meta['action'] }}"
                    method="{{ form_meta['method'] }}"
                >
                    <input
                        id='type'
                        type='hidden'
                        name='type'
                        value='Membership'
                    />
                    <input type='submit' value='Edit Membership'>
                </form>
    
                <form
                    action="{{ form_meta['action'] }}"
                    method="{{ form_meta['method'] }}"
                >
                    <input
                        id='type'
                        type='hidden'
                        name='type'
                        value='Participation'
                    />
                    <input type='submit' value='Edit Participation'>
                </form>
            
                <a href='/'>Return</a>

        {% elif page_type == 'search' %}
            <div class="text_box">
                <box_header>Add</box_header>
                <tagline>Please input the data</tagline>
            </div>
                <form
                    action="{{ form_meta['action'] }}"
                    method="{{ form_meta['method'] }}"
                >
                    {% for key, value in form_data.items() %}
                        {% if key == 'type' %}
                            <input
                                id='{{ key }}'
                                type='hidden'
                                name='{{ key }}'
                                value='{{ value }}'
                            />
                        {% else %}
                            <label for='{{ key }}'>{{ key }}:</label>
                            <input
                                id='{{ key }}'
                                type='text'
                                name='{{ key }}'
                                value='{{value}}'
                                required
                            /><br />
                        {% endif %}
                    {% endfor %}

                    {% for field in invalid %}
                        <p>{{ field }} Invalid</p>
                    {% endfor %}
    
                    {% for field in absent %}
                        <p>{{ field }} Not Found</p>
                    {% endfor %}
    
                    <p>{{ membership_absent }}</p>
                    <p>{{ participation_absent }}</p>
                            
                    <input type='submit' value='Search'>
                </form>   
        
                <a href='/edit'>Return</a>
        
        {% elif page_type == 'result' %}
            <div class="text_box">
                <box_header>Add</box_header>
                <tagline>Results</tagline>
            </div>
                <table>
                    {% for key, value in form_data.items() %}
                        {% if key != 'type' %}
                            <tr>
                                <th>{{ key }}:</th>
                                <th>{{ value }}</th>
                            </tr>
                        {% endif %}
                    {% endfor %}
                </table>
    
                <form
                    action="{{ form_meta['action'] }}"
                    method="{{ form_meta['method'] }}"
                >
                    {% for key, value in form_data.items() %}
                        {% if ( (key == 'type') or 
                                (key == 'Student Name') or
                                (key == 'Club Name') or
                                (key == 'Activity Name') ) %}
                            <input
                                id='{{ key }}'
                                type='hidden'
                                name='{{ key }}'
                                value='{{ value }}'
                            >
                        {% else %}
                            <label for='{{ key }}'>New {{ key }}:</label>
                            <input
                                id='{{ key }}'
                                type='text'
                                name='{{ key }}'
                                value='{{ value }}'
                                required
                            >
                            <br />
                        {% endif %}
                    {% endfor %}

                     {% for field in invalid %}
                        <p>{{ field }} Invalid</p>
                    {% endfor %}
                    
                    <input type='submit' value='Edit'>
                </form>

                <form
                    action='/edit?search'
                    method='POST'
                >
                    <input
                        id='type'
                        type='hidden'
                        name='type'
                        value="{{ form_data['type'] }}"
                    />
                    <input type='submit' value='Search Another'>
                </form>
            
                <a href='/edit'>Return</a>
                        
        {% elif page_type == 'confirm' %}
            <div class="text_box">
                <box_header>Add</box_header>
                <tagline>Confirm edit</tagline>
            </div>
                <table>
                    {% for key, value in particulars.items() %}
                        <tr>
                            <th>{{ key }}:</th>
                            <th>{{ value }}</th>
                        </tr>
                    {% endfor %}
                </table>
        
                <table>
                    <tr>
                        <th>Field</th>
                        <th>  </th>
                        <th>Old</th>
                        <th>  </th>
                        <th>New</th>
                    </tr>
                    
                    {% for key, value in form_data.items() %}
                        {% if ( (key not in particulars) and
                                (key != 'type') ) %}
                            <tr>
                                <th>{{ key }}:</th>
                                <th>  </th>
                                <th>{{ old_data[key] }}</th>
                                <th>─→</th>
                                <th>{{ value }}</th>                                
                            </tr>
                        {% endif %}
                    {% endfor %}
                </table>
    
                <form
                    action="{{ form_meta['action'] }}"
                    method="{{ form_meta['method'] }}"
                >               
                    {% for key, value in form_data.items() %}
                        <input
                            id='{{ key }}'
                            type='hidden'
                            name='{{ key }}'
                            value='{{ value }}'
                        />
                    {% endfor %}
    
                    <input type='submit' value='Confirm'>
                </form>
       
                <form
                    action='/edit?result'
                    method='POST'
                >
                    {% for key, value in form_data.items() %}
                        <input
                            id='{{ key }}'
                            type='hidden'
                            name='{{ key }}'
                            value='{{ value }}'
                        />
                    {% endfor %}
    
                    <input type='submit' value='Return'>
                </form>

                <form id='edit_cancel'
                    action='/edit?search'
                    method='POST'
                >
                    <input
                        id='type'
                        type='hidden'
                        name='type'
                        value="{{ form_data['type'] }}"
                    />
                    
                    <!-- 
                    <a href='/edit' 
                    onclick="document.getElementById('edit_cancel').submit()">
                    Cancel
                    </a>
                    For text buttons
                    -->
                    
                    <input type='submit' value='Cancel'>
                </form>
        
        {% else %}
            <div class="text_box">
                <box_header>Add</box_header>
                <tagline>{{ name }} {{ type }} Successfully Edited</tagline>
            </div>
            <a href='/edit'>Edit Another</a><br />
            <a href='/'>Return</a>
        
        {% endif %}
    </body>
</html>