<html>
    <head>
        <link 
            rel="stylesheet" 
            href="{{ url_for('static', filename='styles/style.css') }}"
        >
        <title>Welcome</title>
    </head>

    <body>
        <div class="header">
          <h1><a href="https://www.youtube.com/watch?v=UxM5UgpXYM4">CCA Record Manager</a></h1>
        </div>
        <div class="text_box">
            <box_header>Welcome</box_header>
            <tagline>Choose any options below to begin</tagline>
        </div>

        
        <!-- Add Club/Activity -->
        <a href='/add' class="button button_left button_flipper">Add</a><br />
        <!-- View Student/Class/Club/Activity -->
        <a href='/view' class="button button_mid">View</a><br />
        <!-- Edit Membership/Participation -->
        <a href='/edit'class="button button_right">Edit</a><br />

    </body>
</html>