<html>
    <head>
        <link 
            rel="stylesheet" 
            href="{{ url_for('static', filename='styles/style.css') }}"
        >
        <title>Welcome</title>
    </head>

    <body>
        <div class="header">
          <h1><a href="/">CCA Record Manager</a></h1>
        </div>
  
        <div class="text_box">
            <box_header>CCA Record Manager</box_header>
            <tagline>Choose any options below to begin</tagline>
        </div>

        <div class="flex-box_splash">
          <!-- Add Club/Activity -->
          <a href='/add'>Add</a>
          <!-- View Student/Class/Club/Activity -->
          <a href='/view'>View</a>
          <!-- Edit Membership/Participation -->
          <a href='/edit'>Edit</a> 
        </div>
        
    </body>
</html>