<html>
<!-- Allow users to select a category of data and 
search for a record within the database under that category -->
    <head>
        <link 
            rel="stylesheet" 
            href="{{ url_for('static', filename='styles/style.css') }}"
        >
        {% if page_type == 'view' %}
            <title>View</title>

        {% elif page_type == 'search' %}
            <title>Search {{ form_data['type'] }}</title>
        
        {% else %}
            <title>Result</title>

        {% endif %}
    </head>
    
    <body>
        <div class="header">
          <h1><a href="/">CCA Record Manager</a></h1>
        </div>
        
        {% if page_type == 'view' %}
            <div class="text_box">
                <box_header>View</box_header>
                <tagline>Please choose the item you want to view</tagline>
            </div>
        
            <div class="flex-box">
                <form
                    class='align'
                    action="{{ form_meta['action'] }}"
                    method="{{ form_meta['method'] }}"
                >
                    <input
                        id='type'
                        type='hidden'
                        name='type'
                        value='Student'
                    />
                    <input class = 'secondary_button' type='submit' value='View Students'>
                </form>
    
                <form
                    class='align'
                    action="{{ form_meta['action'] }}"
                    method="{{ form_meta['method'] }}"
                >
                    <input
                        id='type'
                        type='hidden'
                        name='type'
                        value='Class'
                    />
                    <input class = 'secondary_button' type='submit' value='View Classes'>
                </form>
    
                <form
                    class='align'
                    action="{{ form_meta['action'] }}"
                    method="{{ form_meta['method'] }}"
                >
                    <input
                        id='type'
                        type='hidden'
                        name='type'
                        value='Club'
                    />
                    <input class = 'secondary_button' type='submit' value='View Clubs'>
                </form>
    
                <form
                    class='align'
                    action="{{ form_meta['action'] }}"
                    method="{{ form_meta['method'] }}"
                >
                    <input
                        id='type'
                        type='hidden'
                        name='type'
                        value='Activity'
                    />
                    <input class = 'secondary_button' type='submit' value='View Activities'>
                </form>
            </div>
            <h3 style='text-align: center;'><a href='/'>Return</a></h3>
        
        {% elif page_type == 'search' %}
            <div class="text_box">
            <box_header>View</box_header>
            <tagline>Please input the name you want to search</tagline>
            </div>
    
            <form
                action="{{ form_meta['action'] }}"
                method="{{ form_meta['method'] }}"
            >
                <ul class='wrapper'>
                {% for key, value in form_data.items() %}
                    {% if key == 'type' %}
                        <input
                            id='{{ key }}'
                            type='hidden'
                            name='{{ key }}'
                            value='{{ value }}'
                        />
                    {% else %}
                        <li class="form-row">
                            <label for='{{ key }}'>{{ key }}:</label>
                            <input
                                id='{{ key }}'
                                type='text'
                                name='{{ key }}'
                                value='{{value}}'
                                placeholder='Enter {{ key }} here'
                                required
                            />
                        </li>
                    {% endif %}
                {% endfor %}

                <li class="form-row"><invalid>{{ invalid }}</invalid></li>
                
                <li class="form-row">
                    <input type='submit' value='Search'>
                </li>
            </form>
                       
            <h3><a href='/view'>Return</a></h3>
            </ul>
            
        {% elif page_type == 'result' %}
            <div class="text_box">
                <box_header>View</box_header>
                <tagline>Result</tagline>
            </div>
        
            <ul class='wrapper'>
                {% for key, value in form_data.items() %}
                    {% if key != 'type' %}
                        <li class="form-row">
                            <label>{{ key }}</label>
                            <result>{{ value }}</result>
                        </li>
                    {% endif %}
                {% endfor %}
            

            <form
                action='/view?search'
                method='POST'
            >
                <input
                    id='type'
                    type='hidden'
                    name='type'
                    value="{{ form_data['type'] }}"
                />
                <li class="form-row">
                    <input type='submit' value='Search Again'>
                </li>
            </form>
        
            <h3><a href='/'>Return</a></h3>
            </ul>
        {% endif %}
    </body>
</html>